@{
    ViewData["Title"] = "- Login";
}

<div class="container d-flex justify-content-center align-items-center" id="main-container">
    <div id="content-form" class="p-5">
        <h1 class="text-center mb-3">Log in</h1>
        <form asp-action="Enrollment" asp-controller="Login" method="post">
            <div class="form-group">
                <input class="d-block form-control mb-0" style="margin-bottom: 0; padding: 10px; margin-top: 10px; padding-left: 10px; padding-right: 10px;" type="text" name="email" id="email" placeholder="Email" value="@ViewData["Email"]" />
                @if (ViewData.ContainsKey("EmailError"))
                {
                    <span class="text-danger">@ViewData["EmailError"]</span>
                }
            </div>
            <div class="form-group">
                <input class="d-block form-control mb-0" style="margin-bottom: 0; padding: 10px; margin-top: 5px; padding-left: 10px; padding-right: 10px;" type="password" name="password" id="password" placeholder="Password" value="@ViewData["Password"]" />
                @if (ViewData.ContainsKey("PasswordError"))
                {
                    <span class="text-danger">@ViewData["PasswordError"]</span>
                }
            </div>
            <div class="mb-3">
                <input type="checkbox" style="margin-top:10px;" name="remember" id="remember" />
                <label for="remember">Remember me</label>
                <a href="@Url.Action("Forgot", "Login")" class="text-black">Forgot Password?</a>
            </div>
            <button id="signin" class="btn d-block mb-3 submit_button text-white" type="submit">Log In</button>
            <p>Don't Have An Account? <a href="@Url.Action("Index", "Register")" class="text-black">Register</a></p>
            <p class="text-center">OR</p>
            <div id="g_id_onload" data-client_id="773946028665-70hv7ejnlm9fv8muslntjmpiui6sc2uj.apps.googleusercontent.com" data-context="signin" data-ux_mode="popup" data-login_uri="https://localhost:80" data-auto_prompt="false">
            </div>

            <div class="g_id_signin" data-type="standard" data-shape="pill" data-theme="filled_black" data-text="signin_with" data-size="large" data-logo_alignment="left" data-width="300">
            </div>
        </form>
    </div>
</div>
<script src="https://accounts.google.com/gsi/client" async></script>