<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quezon City University @ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/prototype.styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/letter-Q.png" type="image/png" />

    <!-- Allow individual views to inject their own styles -->
    @RenderSection("Styles", required: false)
</head>
<body>
    <header>
        @await Html.PartialAsync("_Header")
    </header>

    <main role="main" class="pb-3">
        @RenderBody()
    </main>

    @await Html.PartialAsync("_Footer")

        <div class="scroll-line"></div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/877d2cecdc.js" crossorigin="anonymous"></script>
       <script>
        $(window).scroll(function () {
            var windowTop = $(window).scrollTop();
            var docheight = $(document).height();
            var winheight = $(window).height();

            var scrolled = (windowTop / (docheight - winheight)) * 100;
            $('.scroll-line').css('width', (scrolled + '%'));
        });
    </script>
    <!-- Allow individual views to inject their own scripts -->
    @RenderSection("Scripts", required: false)

    <!-- Support additional custom scripts -->
    @RenderSection("CustomScripts", required: false)
</body>
</html>
